.taskCard {
    box-shadow: inset  0px 1px 20px 0 rgba(255, 255, 255, 0.3);
    backdrop-filter: blur;
    
}

.cardFadeOut{
    opacity: 100%;
    animation: 2s myFadeOut ease-in .5s;
    animation-fill-mode:forwards;
}
@keyframes myFadeOut {
    from {opacity:100%}
    to {opacity:0%}   
}

.cardFadeIn{
    opacity: 0%;
    animation: 2.7s myFadeIn ease-in 2.4s;
    animation-fill-mode:forwards;
}
@keyframes myFadeIn {
    from {opacity:0%}
    to {opacity:100%}   
}
/* @keyframes mySlide {
    from {position: 0}
    to {position: }   
} */